@tailwind base;
@tailwind components;

.btn {
  @apply bg-blue-500
    hover:bg-blue-600
    text-white
    font-semibold
    my-4
    px-4
    py-2
    rounded-sm
    shadow
    transform
    transition;
}

.input {
  @apply transform
  transition
  bg-gray-200
  appearance-none
  rounded
  py-2
  px-4
  focus:outline-none focus:bg-white focus:border-blue-600
  border-gray-200 border-2;
}

@tailwind utilities;

.chat-container {
  height: calc(100vh - 120px);
}
